/*
@font-face {
	font-family: "Montserrat";
	src: url("./fonts/Montserrat-regular.woff") format("woff");
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}


*/

@font-face {
    font-family: "lobster";
	/*src: url("./fonts/lobster-regular-webfont.eot") format("eot");*/
	src: url("./fonts/lobster-regular-webfont.woff") format("woff"); /*Fuente para google chorme*/
}

@font-face{
	  font-family:"abril";
    src: url("./fonts/abrilfatface-regular-webfont.woff") format("woff");
}


@font-face{
	  font-family:"quick";
    src: url("./fonts/quicksand-regular-webfont.woff") format("woff");
}




h1 {
font-family: 'lobster',sans-serif;

}

h2{
font-family: 'abril',sans-serif;
}

body {
	margin: 0;
}



header {
	background: grey;
	color: white;
}

header h1 {
	display:block;
	margin:0px;
    font-size:30px;
    padding-left: 100px;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 50px;
}

header h1,
header nav {
	   vertical-align: middle;
	   display: inline-block;
}

nav ul li {
	display: inline-block;
	padding: 25px;
}

nav ul{
	    padding-left: 400px;
}

nav ul li a {
	color: white;
	text-decoration:none;
	font-size:10px;
	font-family: 'abril',sans-serif;
}

section {
	margin:auto;
	text-align: center;
	font-family: 'quick',sans-serif;
   }

 

 section p a {
 	color: #1abc9c;
 	text-decoration: none;
 }

/*       estado:encima   estados en html5*/




 section img {
    display: inline-block;
	padding: 40px;
	opacity: 1;
	transition: all 1s linear;
   }

section img:hover{
	opacity:0;
}


/*Letra que da espacio a lado derecho*/

header h1{
/*Se agrega el tipo de transición
transition: all 1s linear;*/
}

/*
cuando el mouse pasa por el titulo
header h1:hover{
padding-right: 100px;	
}
*/


/* Letra crecen al pasar el mouse*/
/*letras del menu*/
header nav ul li a{
	transition: all 1s linear;
}

header nav ul li a:hover{
	font-size: 20px;
}


